{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}{{ article.title }}{% endblock %}

{# Contenu de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <h1 class="col-12 text-center my-5">{{ article.title }}</h1>
        </div>

        {# Lien pour retourner à la liste des articles #}
        <div class="row mb-3">
            <div class="text-center col-12">
                <a class="text-decoration-none" href="{{ path('blog_publication_list') }}">Retour liste des articles</a>
            </div>
        </div>

        {# Affichage de l'article #}
        <div class="row">

            <div class="col-12 col-md-8 mx-auto">

                <div class="card my-2 bg-black">

                    <div class="card-body">

                        {# Date et auteur de l'article #}
                        <footer class="blockquote-footer mt-0 mb-4">Publié le <strong class="text-light">{{ article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong class="text-light">{{ article.author.pseudonym }}</strong></footer>

                        {# Affichage du contenu de l'article #}
                        <div class="mb-2">
                            {{ article.content }}
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}